<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required>
        </div>
        <div class="form-group">
          <label for="associacao">Associacao</label>
          <input type="text" class="form-control" id="associacao" name="associacao" [(ngModel)]="associacao" required>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="descricao" required>
        </div>
        <div class="form-group">
          <label for="endereco">Endereço</label>
          <input type="text" class="form-control" id="endereco" name="endereco" [(ngModel)]="endereco" required>
        </div>
        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Criar</button>
      </form>
    </div>
  </div>
</div>
