<div class="container"></div>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color:  #556B2F;">
  <a class="d-flex align-items-center mb-3  me-md-auto" routerLink="/home">
    <img class="logo" src="assets/img/logo.png" alt="logo"></a>

  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <i class="material-icons">home</i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ong">
        <i class="material-icons">handshake</i>
        Ong
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/oportunidade">
        <i class="material-icons">groups2</i>
        Oportunidades
      </a>
    </li>
  </ul>

</header>
