<footer id="footer" class="page-footer font-small pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light">Redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li><a href="https://github.com/Jokebede-Coimbra" class="iconGithub" title="Github">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a></li>
          <li><a href="https://github.com/Jokebede-Coimbra" class="iconInstagram" title="Instagram">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a></li>
          <li><a href="https://www.linkedin.com/in/jokebede-coimbra/" class="iconLinkedin" title="Linkeding">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright  text-center py-3" style="background-color: #556B2F;">
    <span class="text-light">&copy; 2022 Copyright: </span>
    <a href="" class="text-light">Voluntary</a>
  </div>
</footer>
